/* 
    Document   : style
    Created on : Jun 10, 2010, 7:30:55 AM
    Author     : naresh kapse
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    margin:0px;
    
}

#header{
    height: 150px;
    background-color:  #cccc66;
}
#page{
    margin: 20px 0px 20px 0px;
    height: auto;
}
#footer{
    height: 100px;
    color: silver;
    font-weight: bold;
    border-top: solid #0f0f0f;
}

#footer .links{
    margin-top:  10px;
    margin-right: 10px;
    float: right;
}

#footer .copyright{
    float:left;
}

#footer a{
    text-decoration: none;
}
